:root {
  --first-color: #444444;
  --second-color: #cc7732;
  --background: #fff;
}
body {
  margin: 0;
}
li {
  list-style-type: none;
}
header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  color: var(--second-color);
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  padding: 0rem 2rem;
}
header > h1 {
  text-align: center;
}
footer {
  box-shadow: 4px 0 0 2px rgba(0,0,0,.2);
  color: var(--second-color);
  background-color: var(--first-color);
  padding: 2rem;
  margin-top: auto;
}
.App {
  /* background-color: var(--background); */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
a:visited {
  color: var(--second-color);
}
.bg{
  width: max(220vw,220vh);
  height: max(220vw,220vh);
  position: fixed;
  top:min(-60vw,-60vh);
  left: min(-60vw,-60vh);;
  z-index: -1;
  background-image: linear-gradient(#cc7732 30%,white 70%);;
  animation: example 50s linear 0s infinite normal;
  transform-origin: center;
}

@keyframes example {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg);}
}

@media screen and (max-width: 630px) {
 header > h1{
  display: none;
 }
}